@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");

:root {
  --Bright-orange: #e38826;
  --Dark-cyan: #006970;
  --Very-dark-cyan: #004241;
  --Transparent-white: rgba(255, 255, 255, 0.75);
  --Very-light-gray: #f2f2f2;
}

.bg-bright-orange {
  background-color: var(--Bright-orange);
}

.bg-dark-cyan {
  background-color: var(--Dark-cyan);
}

.bg-very-dark-cyan {
  background-color: var(--Very-dark-cyan);
}

.bg-transparent-white {
  background-color: var(--Transparent-white);
}

.bg-very-light-gray {
  background-color: var(--Very-light-gray);
}
